.img {
	background : url("login.png");
	background-size: 100%;
	height: 1000px ;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	
}

.signIn{
	border-radius:5px;
	background:red;
	padding: 20px;
	width: 480px;
	margin: auto;
	margin-top: 10%;
	color:#fff;
	font-size:16px;
	font-family:verdana;
	opacity:0.9;
	
}
.signIn h1{
	text-align: center;
	margin:0;
	padding:0;
	
	
}
.signIn input, select{
	padding:12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius:4px;
	box-sizing:border-box;
	font-size: 14px;
	background: black;
	color: white;
	opacity:0.9;
}
.signIn inpupt [type = submit]{
	width:100%;
	border: none;
	cursor:pointer;
	
}
.copyRight{
	font-size: 11px;
	color: black;
	opacity: 0.7;
	
}
.anchor{
	font-size: 14px;
	opacity: 0.9;

}

#password{
	width: 100%
}

#ucmId{
	
	width: 100%
}

#Login{
	
	width: 49%
}
#reset{
	
	width: 49%
}
input[type = submit]:hover{
	background: green;
	transition: 0.6s
	
}

input[type = reset]:hover{
	background: green;
	transition: 0.6s
	
}
.errorPassword{
	font-size: 12px;
	opacity: 0.7;
	color:yellow;
}
.errorId{
	font-size: 12px;
	opacity: 0.7;
	color:yellow;
}